@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-2xl font-semibold text-white;
  }

  button {
    @apply flex items-center justify-center;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .duration-back {
    transition:
      width 1s,
      height 1s,
      transform 500ms;
    will-change: width, height, transform;
  }

  .small-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .small-scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  .small-scroll::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100px;
  }

  .small-scroll::-webkit-scrollbar-thumb:hover {
    background: #ffffff60;
    border: 5px solid #ffffff60;
  }

  .small-scroll::-webkit-scrollbar-thumb:active {
    background: #ffffff20;
  }

  .small-scroll::-webkit-scrollbar-track {
    background: #ffffff00;
    border: 0px solid #ffffff00;
    border-radius: 100px;
  }

  .small-scroll::-webkit-scrollbar-track:hover {
    background: #ffffff00;
  }

  .small-scroll::-webkit-scrollbar-track:active {
    background: #ffffff00;
  }

  .small-scroll::-webkit-scrollbar-corner {
    background: transparent;
  }
}
